#div resultado{
    border: 1px;
}
#advertencia{
    color: #495057;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
}
#botonencriptar{
    position: center;
    background-color: darkblue;
    border: 0px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
   
}
#botondesencriptar{
    position: center;
    background-color:#D8DFE8;
    border: 5px;
    border-color: darkblue;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: darkblue;
    font-family: 'Nunito Sans', sans-serif;
   
}
body{
    background-color: #e5e5e5;
}
footer{
    font-family: 'Nunito Sans', sans-serif;
    vertical-align: bottom;
    text-align: center;
}
.botonesdiv{
    text-align: center;
}
.areaTextoIngresado{
    font-family: 'Nunito Sans', sans-serif;
    display: inline-block;
    color: darkblue;
    font-size: 18px;
    background-color: #e5e5e5;
}
.textoIngresado{
    text-align: center;
    display: inline-block;
}
.textoIngresado{
    text-align: center;
    display: inline-block;
}
#resultado{
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    color: #495057;
}
#ningunMensaje{
    font-size: 24px;
}
ingresaElTexto{
    font-size: 16px;
}
.invisible{
    display: none;
}
